---
/**
 * This is the edit user page where an existing user's details can be modified.
 */

import TextHeader from '@components/TextHeader.astro';
import MainLayout from "@layouts/MainLayout.astro";
import AdminUserForm from "@/components/AdminUserForm";
import { getCookie } from "@data/cookies";
import { roleLabels } from "@config/role-labels";
import type { UserRole } from "@type/roles";
import { apiRequest } from "@/utils/apiClient";

const role: UserRole = getCookie("role", Astro.cookies) as UserRole;
const buttonLabel = roleLabels[role];
const userName = getCookie("username", Astro.cookies) || "";
const { id } = Astro.params;

let user_data = null;
try {
  user_data = await apiRequest(`/user/get-user-data/${id}`, { cookies: Astro.cookies });
} catch (error) {
  user_data = null;
  throw new Error(`No user found with ID ${id}`);
}
---

<MainLayout title="Editar Usuario" data={{userName, buttonLabel, role}}>
  <div>
    <TextHeader
      title="Editar Usuario"
      subtitle="Modifique los campos necesarios y guarde los cambios de usuario"
    />
    <AdminUserForm
      client:only="react"
      mode="edit"
      user_data={user_data}
      redirectTo="/dashboard"
      token={getCookie("token", Astro.cookies) || ""}
    />
  </div>
</MainLayout>
