@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  /* Neutral */
  --color-neutral-0: #FFFFFF;
  --color-neutral-25: #E4E4E4;
  --color-neutral-50: #D6D8DE;
  --color-neutral-100: #CED1D7;
  --color-neutral-200: #C5C9D1;
  --color-neutral-300: #BDC1CA;
  --color-neutral-400: #A2A8B4;
  --color-neutral-500: #878E9E;
  /* Primary */
  --color-primary-50: #E6EDFE;
  --color-primary-100: #B9CDFD;
  --color-primary-200: #8DACFC;
  --color-primary-300: #336BFA;
  --color-primary-400: #053ECC;
  --color-primary-500: #03226F;
  /* Secondary */
  --color-secondary-50: #A4B5EE;
  --color-secondary-100: #8DA3EA;
  --color-secondary-200: #7691E6;
  --color-secondary-300: #496CDD;
  --color-secondary-400: #2A53D7;
  --color-secondary-500: #2346BA;
  /* Success */
  --color-success-50: #6DEB97;
  --color-success-100: #4FE782;
  --color-success-200: #32E36D;
  --color-success-300: #1DD75B;
  --color-success-400: #19BC50;
  --color-success-500: #16A144;
  /* Warning */
  --color-warning-50: #EA8588;
  --color-warning-100: #E66C70;
  --color-warning-200: #E25458;
  --color-warning-300: #DE3840;
  --color-warning-400: #D22329;
  --color-warning-500: #B41E23;
  /* Alert */
  --color-alert-50: #FFF3E0;
  --color-alert-100: #FFE0B2;
  --color-alert-200: #FFCC80;
  --color-alert-300: #FFB74D;
  --color-alert-400: #FFA726;
  
  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --font-fallback:
  system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
  'Noto Sans', helvetica, arial, sans-serif;
}

/* Contextual classes */
@layer utilities {
  .content-wrapper {
    @apply bg-gray-100 p-4 rounded shadow-sm w-full h-full hover:scale-101 hover:bg-gray-200 transform transition-transform duration-200;
  }
}

/* Declaration of Roboto fonts */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

html {
  font-family: 'Roboto', var(--font-fallback);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-text-fill-color: black !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  caret-color: white !important;
}

html.dark {
  --color-primary-50: #1e1e2f;
  --color-primary-100: #2a2a3f;
  --color-primary-200: #3b3b5a;
  --color-primary-300: #505075;
  --color-primary-400: #6b6b90;
  --color-primary-500: #8686aa;

  --color-neutral-0: #000000;
  --color-neutral-100: #222222;
  --color-neutral-200: #444444;
  --color-neutral-300: #666666;
  --color-neutral-400: #888888;
  --color-neutral-500: #aaaaaa;
}

:root {
  --color-background: #ffffff;
  --color-text: #000000;
}

.dark {
  --color-background: #1a1a1a;
  --color-card-bg: #353535;
  --color-text: #9485a5;
  --color-table-bg: #767676;
  --color-table-header-bg: #4a494a;
}
html, body, #app, #content, #sidebar, #messages {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.2s, color 0.2s;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content messages";
  grid-template-columns: auto 1fr 0;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

#app.list-messages {
  grid-template-columns: auto 1fr 16rem;
}

#page-header { grid-area: header; }
#sidebar { grid-area: sidebar; }
#content { grid-area: content; height: 100%; overflow-y: auto; }
#messages {
  grid-area: messages;
  background-color: var(--color-background);
  border-left: 1px solid var(--color-neutral-50);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  overflow-y: auto;
}

// CHEAT SHEET: https://nerdcave.com/tailwind-cheat-sheet
// GENERATOR: https://tailwind-generator.com/generators