---
/**
 * Authors: Gabriel Muñoz, José González
 * 
 * Description: This is the authorizer view of the dashboard.
 **/

import TextHeader from "@components/TextHeader.astro";
import RequestSection from "@components/RequestSection.astro";
import {apiRequest} from "@utils/apiClient";
import { getCookie } from "@data/cookies";

const requests = await (async () => {
  try {
    const status = getCookie("role", Astro.cookies) === "N1" ? 3 : 2;
    return await apiRequest(`/user/get-travel-requests/${getCookie("department_id", Astro.cookies)}/${status}`, { cookies: Astro.cookies });
  } catch (error) {
    return [];
  }
})()
const { userName } = Astro.props;
---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />
      <RequestSection
        title="SOLICITUDES POR AUTORIZAR"
        requests={requests}
        anchor="autorizaciones"
        urlBase="autorizar-solicitud"
        subtitle="Esta solicitud está esperando ser autorizada."
        emptyMessage="NO HAY SOLICITUDES POR AUTORIZAR"
      />
  </main>
</div>

