---
/**
 * Authors: Gabriel Muñoz, José González
 * 
 * Description: This is the travel agent view of the application.
 **/

import TextHeader from "@components/TextHeader.astro";
import { getRequestPriority } from "@utils/getPriorityDates";
import { getCookie } from "@data/cookies";
import { apiRequest } from '@utils/apiClient';
import RequestSection from "@components/RequestSection.astro";

const { userName} = Astro.props;
const requests = await (async () => {
  try {
    return await apiRequest(`/user/get-travel-requests/${getCookie("department_id", Astro.cookies)}/5`, { cookies: Astro.cookies });
  } catch (error) {
    return [];
  }
})()

---

<div>
  <main>
    <TextHeader
      title={`BIENVENIDO, ${userName.toUpperCase()}`}
      subtitle="DITTA CONSULTING"
    />
      <RequestSection
        title="SOLICITUDES POR ATENDER"
        requests={requests}
        anchor="atenciones"
        urlBase="atender-solicitud"
        subtitle="Esta solicitud está esperando ser atendida."
        emptyMessage="NO HAY SOLICITUDES POR ATENDER"
      />
  </main>
</div>
