---
/**
 * Author: Diego Ortega Fernández
 *
 **/

import MainLayout from "@layouts/MainLayout.astro";
import TextHeader from "@components/TextHeader.astro";
import AuthRequestsList from "@/components/RequestsLists/AuthRequestsList";
import TableFallback from "@/components/Table/TableFallback.astro";

import type { UserRole } from "@type/roles";
import { getCookie } from "@data/cookies";
import { roleLabels } from "@config/role-labels";

const role: UserRole = getCookie("role", Astro.cookies) as UserRole;
const userName = getCookie("username", Astro.cookies);
const buttonLabel = roleLabels[role];

import { apiRequest } from "@/utils/apiClient";

//Status corresponding to TravelAgency
const status = 5;
const requests = await (async () => {
  try {
    return await apiRequest(`/user/get-travel-requests/${getCookie("department_id", Astro.cookies)}/${status}`, { cookies: Astro.cookies });
  } catch (error) {
    return [];
  }
})()
---

<MainLayout title="Atenciones pendientes" data={{ userName, buttonLabel, role }}>
  <div>
    {requests && requests.length === 0 ? (
      <TableFallback />
    ) : (
      <TextHeader
        title={"ATENCIONES DE " + userName.toUpperCase()}
        subtitle="Aquí puedes ver las solicitudes pendientes de atender"
      />
      <AuthRequestsList
        client:only="react"
        data={requests}
        role={role}
      />
    )}
    </div>
  </div>
</MainLayout>
