---
/**
 * Author: Julia Maria Stephanie Duenkelsbuehler Castillo Y Nicole Davila
 * 
 * Description: This Astro page renders a travel request form.
 * It includes sections for destinations, dates, additional information, and cost assignment.
 */

import TextHeader from '@components/TextHeader.astro';
import MainLayout from "@layouts/MainLayout.astro";
import TravelRequestForm from "@/components/TravelRequestForm";

import type { UserRole } from "@type/roles";
import { getCookie } from "@data/cookies";
import { roleLabels } from "@config/role-labels";

const role: UserRole = getCookie("role", Astro.cookies) as UserRole;
const buttonLabel = roleLabels[role];
const userName = getCookie("username", Astro.cookies);
---

<MainLayout title="Crear Solicitud" data={{ userName, buttonLabel, role }}>
  <div>
    <TextHeader
      title="CREAR NUEVA SOLICITUD DE VIAJE"
      subtitle="Por favor complete el siguiente formulario para generar una nueva solicitud de viaje."
    />
    <main class="bg-white rounded-lg shadow-md p-8">
      <TravelRequestForm
        user_id={getCookie("id", Astro.cookies)}
        client:only="react"
        mode="create"
        role={role}
        token={getCookie("token", Astro.cookies)}
      />
    </main>
  </div>
</MainLayout>

