---
/**
 * Author: Nicole Dávila Hernández and Julia Maria Stephanie Duenkelsbuehler Castillo
 * 
 * Description: This is the creation page for a new, single user.
 */

import TextHeader from '@components/TextHeader.astro';
import MainLayout from "@layouts/MainLayout.astro";
import AdminUserForm from "@/components/AdminUserForm";
import { getCookie } from "@data/cookies";
import { roleLabels } from "@config/role-labels";
import type { UserRole } from "@type/roles";

const role: UserRole = getCookie("role", Astro.cookies) as UserRole;
const buttonLabel = roleLabels[role];
const userName = getCookie("username", Astro.cookies);
---

<MainLayout title="Crear Usuario" data={{ userName, buttonLabel, role }}>
  <div>
    <TextHeader
      title="Crear Nuevo Usuario"
      subtitle="Complete el formulario con los datos del nuevo usuario"
    />
    <AdminUserForm
      mode="create"
      client:only="react"
      redirectTo="/dashboard"
      token={getCookie("token", Astro.cookies)}
    />
  </div>
</MainLayout>

