---
/**
 * This script is used to create a page that shows the history of requests made by the user.
 */

import MainLayout from "@layouts/MainLayout.astro";
import History from "@components/History.tsx";
import TextHeader from "@components/TextHeader.astro";

import type { UserRole } from "@type/roles";
import { getCookie } from "@data/cookies";
import { roleLabels } from "@config/role-labels";

const role: UserRole = getCookie("role", Astro.cookies) as UserRole;
const userName = getCookie("username", Astro.cookies) || "";
const buttonLabel = roleLabels[role];

import { apiRequest } from "@/utils/apiClient";
const requests = await (async () => {
  try {
    return await apiRequest(`/applicant/get-completed-requests/${getCookie("id", Astro.cookies)}`, { cookies: Astro.cookies });
  } catch (error) {
    return [];
  }
})()
---

<MainLayout title="Historial" data={{ userName, buttonLabel, role }}>
<div>
  <TextHeader
    title={`Historial de Viajes de ${userName}`}
    subtitle="Aquí puedes ver el historial de solicitudes realizadas"
  />
  <div class="items-center justify-center">
    <History client:only="react" data={requests} />
  </div>
</div>
</MainLayout>
