---
/**
 * This is a test page for development purposes. 
 * It can be used to verify that cookies are being set and retrieved correctly.
 */

import { getCookie } from "@data/cookies";

const username = getCookie("username", Astro.cookies);
const role = getCookie("token", Astro.cookies);
---
<h1>Test</h1>
<p>Username: {username}</p>
<p>Role: {role}</p>
