---
/**
 * Author: Julia Maria Stephanie Duenkelsbuehler Castillo
 * 
 * Description: This component is a header for our system.
 * 
 * Example usage:
 * 	<PageHeader
 *    userName="John Doe"
 *		buttonLabel="Admin"
 *  />
 */

const { userName, buttonLabel } = Astro.props;
import LogoutButton from "@components/Logout.tsx";
import MaterialIcon from "@components/MaterialIcon.astro";
import UserMenu from "@components/UserMenu.tsx";
import ThemeButton from "@components/ThemeButton.astro";

const isCurrentRoute = Astro.url.pathname === "/perfil-usuario";
---

<header class="flex justify-between items-center bg-primary-500 px-4">
  <!-- Left Section -->
  <div class="flex items-center px-5">
    <img
      src="/logo_texto_dittravel_blanco.png"
      class="h-15 w-auto rounded drop-shadow-lg cursor-pointer"
      onclick="if(confirm('¿Volver al dashboard?')) window.location.href = '/dashboard'"
      title="Volver al dashboard"
      alt="Logo Dittravel"
    />
  </div>

  <!-- Right Section -->
  <div class="flex items-center gap-4">
    
    <!-- Theme Button -->
    <div class="flex items-center gap-2">
      <ThemeButton />
    </div>

    <!-- User Role -->
    <span class="text-primary-100 font-bold text-sm">
      {buttonLabel}
    </span>

    <!-- User Info -->
    <UserMenu client:load>
      <span>{userName}</span>
      <MaterialIcon icon="person" color="primary-500" />
    </UserMenu>
  </div>
</header>