---
/**
 * Author: Eduardo Porto Morales
 * 
 * This is a sandbox component to test everything in the application.
 **/
---

<div class="flex flex-col items-center justify-center h-screen bg-neutral-300">
	<main class="flex flex-col items-center gap-20">
		<!-- Testing Component Slot -->
		SANDBOX
	</main>
</div>