---
/**
 * Author: Kenia Ramos.
 * 
 * SidebarButton
 * 
 * Renders a button for the sidebar menu.
 */

import type { MenuItem } from "@type/menu-config";
import MaterialIcon from "@components/MaterialIcon.astro";

interface Props {
  item: MenuItem;
  isActive: boolean;
}

const { item, isActive } = Astro.props;
---

<a
  href={item.route}
  class={`flex items-center gap-3 px-3 py-2 rounded-lg
          transition-colors duration-200
          group bg-card
          hover:bg-card-hover
    ${isActive 
      ? 'bg-secondary text-white pointer-events-none'
      : 'text-text-primary'
    }
  `}
>
  <span class="flex items-center justify-center w-6 h-6">
    <MaterialIcon
      icon={item.icon}
      color={isActive ? '' : 'text-primary'}
    />
  </span>
  <span class="truncate text-sm font-medium">{item.label}</span>
</a>